
.fieldContent {
    span {
        flex: 1;
    }
    >:last-child {
        margin-left: 1rem;
    }
    .optionWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            margin-left: 0.5rem;
        }
    }
}
