@import '../styles/_variables';

.unsavedChanges {
    color: rgb(200,200,0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    font-style: italic;
    height: 24px;
}

.saveButtonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.undoButtonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    height: 24px;
    .undoButton {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        span {
            margin-left: 0.25rem;
        }
    }
}

.submitRsvpButton {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 6px;
    background-color: $emerald-500;
    transition: 0.2s ease;
    &:hover {
        transition: 0.2s ease;
        background-color: $emerald-700;
    }
}

.reservationsPromptWrapper {
    h2 {
        font-size: 38px;
        margin-bottom: 1rem;
    }
    margin-top: 2rem;
    color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0;
}

.visible {
    height: auto;
    visibility: visible;
    color: $gray-A1;
    a {
        margin-top: 1rem;
        transition: 0.3s ease;
        color: $gray-A1;
        text-decoration: underline;
        &:hover {
            transition: 0.3s ease;
            color: $gray-400;
        }
    }
}
