@use 'variables' as vars;

main {
    
}

.text-content {
    @media screen and (max-width: vars.$laptop) {
        margin-bottom: 100px;
        margin: auto 24px;
    }
    @media screen and (min-width: vars.$laptop) {
        margin: auto;
        max-width: 700px;
        margin-bottom: 400px;
    }
}

// Uses the same style as Medium body text for now
p {
    font-size: 20px;
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
}
