@import '../styles/_variables';

.authForm {
    margin-top: 1rem;
    padding: 0 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    input {
        padding: 0.25rem;
        background-color: $gray-100;
        border-radius: 4px;
    }
    >:not(:last-child) {
        margin-bottom: 0.5rem;
    }
}

.loadingOverlay {
    height: 100%;
    width: 100%;
    background-color: black;
}

.submitBtn {
    background-color: $gray-400;
    color: white;
    border-radius: 4px;
    transition: 0.3s ease;
    &:hover{
        transition: 0.3s ease;
        background-color: $gray-500;
    }
}

.loginRegisterToggleBtn {
    color: $gray-400;
    font-weight: 100;
    transition: 0.3s ease;
    &:hover{
        transition: 0.3s ease;
        color: $gray-800;
    }
}

.logoutBtn {
    color: white;
    background-color: rgba(200, 0, 0, 0.5);
    transition: 0.3s ease;
    border-radius: 4px;
    &:hover {
        transition: 0.3s ease;
        background-color: rgba(200, 0, 0, 1);
    }
}
