@import '../styles/_variables';

.container {
    display: flex;
    width: 100%;
    position: relative;
}

.loadingOverlay {
    position: absolute;
}

.content {
    display: flex;
    width: 100%;
}

.nameWrapper {
    flex: 1;
}
