@import '../styles/_variables';

.container {
    display: flex;
    width: 100%;
    input {
        flex: 1;
    }
    button {
        border: 1px solid $gray-100;
        margin-left: 0.5rem;
        padding: 0 0.4rem;
        border-radius: 4px;
        transition: 0.3s ease;
        &:hover{
            transition: 0.3s ease;
            background-color: $gray-100;
        }
    }
}
